---
import CopyLink from "@/components/CopyLink.astro";
import EmbedSubmissionProof from "@/components/EmbedSubmissionProof.astro";
import SubmissionAdminForm from "@/components/SubmissionAdminForm.astro";
import PageLayout from "@/layouts/main.astro";
import { formatTimeAgo, formatHistoryTimestamp } from "@/lib/server/utils";
import {
	getLeaderboardInfo,
	getVerifiers,
	getSubmissionInfo,
	getHistory,
} from "@/lib/server/api";
import { type LeaderboardInfo, type Verifier } from "@/lib/server/utils";

const { leaderboard_id, submission_id } = Astro.params;

let info: LeaderboardInfo = {
	title: "",
	start: "",
	duration: "",
	allow_multiple: true,
	is_time: false,
	highest_first: true,
	created_at: "",
};

let verifiers = [];
const { user } = Astro.locals;
let submission_info: any;
let history = [];
try {
	info = await getLeaderboardInfo(leaderboard_id as string);
	submission_info = await getSubmissionInfo(
		leaderboard_id as string,
		submission_id as string,
	);
	verifiers = (await getVerifiers(leaderboard_id as string)).verifiers;
	history = (
		await getHistory(
			leaderboard_id as string,
			submission_id as string,
		)
	).history;
	console.log(submission_info);
	console.log("history", history);
} catch (e) {
	console.error(e);
	Astro.redirect("/system-down");
}

const isVerifier =
	user !== null &&
	verifiers.some((v: Verifier) => {
		return user.id === v.id;
	});

const formattedTimestamp = formatTimeAgo(submission_id.last_submitted);

const formattedHistory = history.map((entry) => {
	return {
		comment: entry.comment,
		author: entry.author.username,
		action: entry.action,
		timestamp: formatHistoryTimestamp(entry.submitted_at),
		authorLink: `www.topdevktoday.dev/account/${entry.author.id}`,
	};
});
---

<PageLayout
	title={`Submission for ${info.title}`}
	leaderboard={leaderboard_id}
	submission={submission_id}
>
	<div class="flex flex-col h-min-screen items-center bg-base-200">
		<div class="flex flex-col min-w-full xl:min-w-196 lg:min-w-196">
			<div class="flex inline-flex justify-between my-4">
				<div
					class="flex flex-col justify-around min-h-min w-full"
				>
					<a
						href={`https://www.topktoday.dev/leaderboard/${leaderboard_id}`}
						class="text-sm link link-primary link-hover"
					>
						{info.title}
					</a>
					<div
						class="flex inline-flex justify-between w-full"
					>
						<span
							class="lg:text-xl xl:text-2xl"
						>
							<span class="font-bold">
								{
									submission_info.score
								}
							</span>
							by <a
								href={`https://www.topktoday.dev/account/${
									submission_info
										.submitted_by
										.id
								}`}
								class="link link-accent link-hover"
								>{
									submission_info
										.submitted_by
										.username
								}</a
							>
						</span>

						{
							submission_info.verified ? (
								<div class="badge badge-soft badge-success badge-md mx-4">
									Verified
								</div>
							) : (
								<div class="badge badge-soft badge-warning badge-md mx-4">
									Not
									Verified
								</div>
							)
						}
					</div>
				</div>
				<div class="flex flex-col justify-around"></div>
			</div>

			<div
				class="card bg-base-100 shadow-sm border-base-200 text-base-content"
				id="leaderboard-article"
			>
				<div class="card-body">
					<div class="flex flex-col gap-3">
						<EmbedSubmissionProof
							link={submission_info.link}
						/>
						<span class="opacity-80">
							Source:
							<a
								class="link"
								href={submission_info.link}
							>
								{
									submission_info.link
								}</a
							>
						</span>
					</div>
				</div>
			</div>

			<span class="opacity-80 m-2">
				Submitted {formattedTimestamp}
			</span>

			{
				isVerifier && (
					<div>
						<div class="divider divider-info">
							<span class="opacity-80 font-semibold">
								Verifier Actions
								(only you can
								see this)
							</span>
						</div>
						<div class="w-full flex justify-center my-2">
							<SubmissionAdminForm
								isVerified={
									submission_info.verified
								}
							/>
						</div>
					</div>
				)
			}
			<div class="divider">
				<span class="opacity-80 font-semibold">
					History
				</span>
			</div>

			<div class="w-full flex justify-center mb-4">
				<ol
					class="relative border-s border-gray-200 dark:border-gray-700 w-full xl:w-3/4"
				>
					{
						formattedHistory.map(
							(entry) => {
								return (
									<li class="ms-4 my-4">
										<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700" />
										<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
											{
												entry.timestamp
											}
										</time>
										{entry.action ===
											"validate" && (
											<div class="badge badge-xs badge-soft badge-success mx-2">
												Verified
											</div>
										)}

										{entry.action ===
											"comment" && (
											<div class="badge badge-xs badge-soft mx-2">
												Commented
											</div>
										)}
										{entry.action ===
											"invalidate" && (
											<div class="badge badge-xs badge-soft badge-warning mx-2">
												Invalidated
											</div>
										)}

										<blockquote class="text-base font-normal text-gray-500 dark:text-gray-400">
											<a class="link link-hover font-semibold link-info">
												{
													entry.author
												}
											</a>
											{
												entry.comment
											}
										</blockquote>
									</li>
								);
							},
						)
					}

					<li class="ms-4 my-4">
						<div
							class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
						>
						</div>
						<time
							class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
						>
							{
								formatHistoryTimestamp(
									submission_info.last_submitted,
								)
							}
						</time>
						<blockquote
							class="text-base font-normal text-gray-500 dark:text-gray-400"
						>
							Submitted by
							<a
								href={`https://www.topktoday.dev/account/${submission_info.submitted_by.id}`}
								class="link link-hover font-semibold link-info"
							>
								{
									submission_info
										.submitted_by
										.username
								}
							</a>
						</blockquote>
					</li>
				</ol>
			</div>
		</div>
	</div>
</PageLayout>
