---
const {
	leaderboardCount = 1,
	leaderboadsTotal = 50,
	leaderboardLimit = 5,
	activeLeaderboards = 1,
} = Astro.props;
const leaderboardPercentage = (100 * leaderboardCount) / leaderboardLimit;
---

<div class="flex flex-col w-full px-2 items-center">
	<div class="flex flex-col w-full xl:w-3/4 lg:w-5/6 items-center">
		<div class="flex inline-flex justify-between my-4 w-full">
			<div
				class="flex inline-flex justify-between items-min-h-min w-full"
			>
				<h2 class="lg:text-lg opacity-80 font-semibold">
					Usage
				</h2>
				<h3 class="text-sm opacity-50">
					Plan:<span class="font-semibold">
						Anonymous</span
					>
				</h3>
			</div>
		</div>
		<div class="stats shadow bg-base-100 w-full">
			<div class="stat place-items-center">
				<div class="stat-title">New Leaderboards</div>
				<div class="stat-value">
					<div
						class="radial-progress text-primary my-2"
						style=`--value:${leaderboardPercentage}; --size:6rem; --thickness: 0.5rem;`
						aria-valuenow={leaderboardPercentage}
						role="progressbar"
					>
						<span class="text-sm">
							{leaderboardCount}/{
								leaderboardLimit
							}
						</span>
					</div>
				</div>

				<div class="stat-desc font-bold">
					This Month
				</div>
			</div>

			<div class="stat place-items-center">
				<div class="stat-title">New Leaderboards</div>
				<div class="stat-value text-primary">
					{leaderboadsTotal}
				</div>
				<div class="stat-desc font-bold">All time</div>
			</div>

			<div class="stat place-items-center">
				<div class="stat-title">
					Active Leaderboards
				</div>
				<div class="stat-value text-accent">
					{activeLeaderboards}
				</div>
				<div class="stat-desc font-bold">Current</div>
			</div>
		</div>
	</div>
</div>
